<div ng-controller="DashboardCtrl" ng-init="load()">
  <div class="col-lg-2"  >
      <div class="sidebar">
      <div class="profile-info">
        <div class="metadata">
          <a ui-sref="dashboard.perfil" href="#/perfil"><img  ng-src="{{$root.user.metadata.gallery[0].URL || 'images/no-user-image.gif'}}" class="img-circle thumb-photo"></a>
          <span>{{$root.user.full_name}}</span>
          <p>{{$root.online}}</p>     
        </div>
      </div>
          <div class="nav-items">
            <ul class="menu-list text-right">
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;"><a ui-sref="dashboard.empresa" href="#/empresa" style="font-size:16px;" class="smooth strong text-dark">Empresa</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;" data-toggle="collapse" data-target="#setting">
              <a style="font-size:16px;" class="smooth strong text-dark">Ajustes</a>
                <div id="setting" class="collapse">
                  <ul class="menu-list text-right">
                    <li ng-click="agregarIva()" class="menu-item fw text-center"><a style="display:block;" class="smooth strong text-dark">Ivas.</a></li>
                    <li ng-click="agregarFormasDePago()" class="menu-item fw text-center"><a style="display:block;" class="smooth strong text-dark">Formas de pago.</a></li>
                    <li class="menu-item fw text-center" ng-click="agregarConsecutivo()"><a href="" style="display:block;" class="smooth strong text-dark">Consecutivos.</a></li>
                  </ul>
                </div>
              </li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;" data-toggle="collapse" data-target="#demo">
              <a style="font-size:16px;" class="smooth strong text-dark">Usuarios</a>
                <div id="demo" class="collapse">
                  <ul class="menu-list text-right">
                    <li class="menu-item fw text-center"><a ui-sref=".empleados" href="#/empleados" href="" style="display:block;" class="smooth strong text-dark">Empleados</a></li>
                    <li class="menu-item fw text-center"><a ui-sref=".vendedores" href="#/vendedores" href="" style="display:block;" class="smooth strong text-dark">Vendedores</a></li>
                    <li class="menu-item fw text-center"><a ui-sref=".clientes" href="#/clientes" href="" style="display:block;" class="smooth strong text-dark">Clientes</a></li>
                  </ul>
                </div>
              </li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;"><a ui-sref=".productos" href="#/productos" style="font-size:16px;" class="smooth strong text-dark">Productos</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;"><a ui-sref=".rutas" href="#/rutas" style="font-size:16px;" class="smooth strong text-dark">Rutas</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;"><a ui-sref=".categorias" href="#/categorias" style="font-size:16px;" class="smooth strong text-dark">Categorias</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active"><a ui-sref=".pedidos" href="#/pedidos" style="font-size:16px;" class="smooth strong text-dark">Pedidos</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active"><a ui-sref=".facturacion" href="#/facturacion" style="font-size:16px;" class="smooth strong text-dark">Facturacion</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active"><a ui-sref=".arqueos" href="#/arqueos" style="font-size:16px;" class="smooth strong text-dark">Arqueos</a></li>
              <li ng-show="$root.user" class="menu-item fw text-center" ui-sref-active="menu-item-active" style="border: 1px solid #F7F7F7;"><a ui-sref=".apps" href="#/apps" style="font-size:16px;" class="smooth strong text-dark">Apps</a></li>
              <li class="menu-item fw text-center" ui-sref-active="menu-item-active"><a ui-sref=".change-password" href="#/change-password" style="font-size:16px;" class="smooth strong text-dark">Cambiar Clave</a></li>
              <li class="menu-item"></li>
            </ul>
          </div>
      </div>  
  </div>
  <div class="col-lg-10 row">
    <div ui-view class="container">
        <div>
          <div class="col-lg-4 animated bounceInLeft" style="background-color: #272727;height:250px;">
              <div class="inner-box">
                <h1 class="text-white">Ventas</h1>
                <h2 class="text-white" style="font-size:70px;">150</h2>
              </div>
          </div>
          <div class="col-lg-4 animated bounceInLeft" style="background-color: #001c24;height:250px;">
              <div class="inner-box">
                <h1 class="text-white">Pedidos</h1>
                <h2 class="text-white" style="font-size:70px;">300</h2>
              </div>
          </div>          
          <div class="col-lg-4 animated bounceInLeft" style="background-color: #02020e;height:250px;">
              <div class="inner-box">
                <h1 class="text-white">Vendedores</h1>
                <h2 class="text-white" style="font-size:70px;">15</h2>
              </div>
          </div>
          <div class="col-lg-4 animated bounceInRight" style="background-color: #ffffff;height:250px;">
              <div class="inner-box">
                <h1 class="text-dark">Productos</h1>
                <h2 class="text-dark" style="font-size:70px;">900</h2>
              </div>
          </div>
          <div class="col-lg-4 animated bounceInRight" style="background-color: #230c00;height:250px;">
              <div class="inner-box">
                <h1 class="text-white">Apps</h1>
                <h2 class="text-white" style="font-size:70px;">3</h2>
              </div>
          </div>
          <div class="col-lg-4 animated bounceInRight" style="background-color: #ff5e1b;height:250px;">
              <div class="inner-box">
                <h1 class="text-white">Empleados</h1>
                <h2 class="text-white" style="font-size:70px;">8</h2>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>