<div class="inmodal" ng-init="load()">
    <div class="modal-header text-center custom-modal-header">
        <h4 class="modal-title">Editar Fotografia</h4>
    </div>
    <div class="modal-body custom-modal-body" style="height:350px;">
    <div class="cropArea">
      <img-crop image="$parent.editImage.preview || $parent.editImage.URL" area-type="{{$parent.area}}" result-image="$parent.image_final"></img-crop>
    </div>
    </div>
    <div class="modal-footer custom-modal-footer">
        <button type="button" class="custom-btn btn-danger" ng-click="cancel()">Cancelar</button>
        <button type="button" class="custom-btn custom-btn-primary" ng-click="ok()">Listo</button>
    </div>
</div>
