<div ng-controller="RequestdetailCtrl" ng-init="load()">
	<div class="container">
		<div class="panel panel-default" style="padding:0px;">
		  <div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<td style="width:50%">
								<address class="no-margin">
									<h4><strong>{{record._user.full_name}},</strong></h4>
									<strong>{{record.data.direccion}}</strong> <br>
									<abbr title="email">E-mail:</abbr>
									<a href="mailto:#" data-original-title="" title="">{{record._user.email}}</a><br> 
									<abbr title="Phone">Contacto:</abbr> (+57) {{record.data.telefono}}<br>
								</address>
							</td>
							<td style="width:50%" class="right-align-text">
								<address class="no-margin">
									<h4><strong>Your Company</strong></h4>
									<strong>Your Address</strong> <br>
									<abbr title="email">E-mail:</abbr>
									<a href="mailto:#" data-original-title="" title="">admin@office.com</a><br> 
									<abbr title="Phone">Phone:</abbr> (000) 333-444-555<br>
									<abbr title="Fax">Fax:</abbr> (000) 333-444-555
								</address>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover no-margin">
					<thead>
						<tr>
							<th style="width:20%">Producto</th>
							<th style="width:40%">Descripcion</th>
							<th style="width:10%">Cantidad</th>
							<th style="width:10%">IVA</th>
							<th style="width:10%">Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="record in record.shoppingCart">
							<td>{{record.data.producto}}</td>
							<td>
								<span class="text-info">{{record.data.descripcion}}</span>
							</td>
							<td><span class="label label-info">{{record.data.unidades}}</span></td>
							<td>{{record.data.valor_iva | currency: "$ "}}</td>
							<td>{{record.data.precio_venta | currency: "$ " }}</td>
						</tr>
						<tr>
							<td class="total" colspan="5">Subtotal</td>
							<td>{{record.metadata.subtotal | currency: "$ "}}</td>
						</tr>
						<tr>
							<td class="total" colspan="5">IVA 5%</td>
							<td>{{record.metadata.total_iva_5 | currency: "$ "}}</td>
						</tr>
						<tr>
							<td class="total" colspan="5">IVA 10%</td>
							<td>{{record.metadata.total_iva_10 | currency: "$ "}}</td>
						</tr>
						<tr>
							<td class="total" colspan="5">Descuento</td>
							<td>$ 0.00</td>
						</tr>
						<tr class="success">
							<td colspan="6" class=""><h5>{{record.data.nota || "sin nota.."}}</h5></td>
						</tr>
						<tr class="warning">
							<td class="total text-warning" colspan="5"><h5>Total</h5></td>
							<td class="hidden-phone text-info"><h4>{{record.metadata.total | currency: "$ "}}</h4></td>
						</tr>
						<tr class="warning">
							<td class="total text-warning" colspan="6">
								<button style="padding:10px;" class="custom-btn custom-btn-primary btn-block" ng-click="process()">Despachar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		  </div>
		  <div class="panel-footer">Listado de productos pedidos</div>
		</div>
	</div>
</div>
