<div class="inmodal" ng-init="editLoad()">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Editar Producto</h4>
    </div>
  	<div class="modal-body" ng-init="selected ='basic'">
	  	<div class="row">
	  		<div class="col-lg-3">
	  			<div class="form-group">
	  				<button ng-class="selected=='basic' ? 'custom-btn-primary' : 'custom-btn-default'" ng-click="selected='basic'" class="custom-btn btn-block">información Basica</button>	
	  			</div>
	  		</div>
	  		<div class="col-lg-3">
		  		<div class="form-group">
		  			<button ng-class="selected=='prices' ? 'custom-btn-primary' : 'custom-btn-default'" ng-click="selected='prices';" class="custom-btn btn-block">Precios</button>
		  		</div>	
	  		</div>
	  		<div class="col-lg-3">
		  		<div class="form-group">
		  			<button ng-class="selected=='features' ? 'custom-btn-primary' : 'custom-btn-default'" ng-click="selected='features';" class="custom-btn btn-block">Caracteristicas</button>
		  		</div>	
	  		</div>
	  		<div class="col-lg-3">
		  		<div class="form-group">
		  			<button ng-class="selected=='album' ? 'custom-btn-primary' : 'custom-btn-default'" ng-click="selected='album';" class="custom-btn btn-block">Album</button>
		  		</div>	
	  		</div>
	  	</div>
  	<div class="row" ng-show="selected == 'album'">
  		<image-uploader area="square" title="Galeria del producto" button-text="Cargar imagenes" ng-model="$parent.formEdit.data.gallery"><image-uploader>
  	</div>
  	<div class="row" ng-show="selected == 'features'">
  		<p>Feactures</p>
  	</div>
  	<div class="row" ng-show="selected == 'prices'">
	  	<div class="col-lg-4">
		  <div class="form-group">
		    <label>Precio base:</label>
		    <input type="number" placeholder="Precio base" required class="form-control" ng-model="$parent.formEdit.data.precio">
		  </div>			  		
	  	</div>
	  	<div class="col-lg-4">
		  <div class="form-group">
		    <label>Iva:</label>
		    <iva ng-model="$parent.formEdit._iva" set-object="$parent.iva" ></iva>
		  </div>
	  	</div>
	  	<div class="col-lg-4">
		  <div class="form-group">
		    <label>Valor Iva:</label>
			 <input type="number" disabled placeholder="Valor iva" required class="form-control" ng-model="$parent.formEdit.data.valor_iva">
		  </div>
	  	</div>
	  	<div class="col-lg-6">
			 <div class="form-group">
			    <label>% Utilidad:</label>
			    <input type="number" placeholder="Utilidad" required class="form-control" ng-model="$parent.formEdit.data.utilidad">
			</div>			  		
	  	</div>
	  	<div class="col-lg-6">
		  <div class="form-group">
		    	<label>Valor utilidad:</label>
			    <input type="number" disabled placeholder="Valor utilidad" required class="form-control" ng-model="$parent.formEdit.data.valor_utilidad">
		  </div>
	  	</div>
	  	<div class="form-group">
	  		
	  	</div>	  		
  	</div>
  	<div ng-show="selected=='basic'" class="row">
	  	<form name="formProducto" novalidate ng-init="$parent.form = null">
		  	<div class="col-lg-6">
				  <div class="form-group">
				    <label>Producto:</label>
				    <input type="text" required placeholder="Producto" class="form-control" ng-model="$parent.formEdit.data.producto">
				  </div>	  		
		  	</div>
		  	<div class="col-lg-6">
				<div class="form-group">
				    <label>Estado:</label>
				    <estado-producto ng-init="$parent.form.data.estado = 'Habilitado'" required ng-model="$parent.formEdit.data.estado"></estado-producto>
			  	</div>
		  	</div>
		  	<div class="col-lg-12">
				  <div class="form-group">
				    <label>Descripcion:</label>
				    <input type="text" placeholder="Descripción" required class="form-control" ng-model="$parent.formEdit.data.descripcion">
				  </div>		  		
		  	</div>
		  	<div class="col-lg-12">
			  <div class="form-group">
				<label>Categoria:</label>
		      	<categoria key="_id" label="text" ng-model="formEdit._category"></categoria>			  	
			  </div>
		  	</div>
		  	<div class="col-lg-6">
				<div class="form-group">
				    <label>Referencias:</label>
		  			<selectize config="{plugins: ['remove_button'], create:true, placeholder:'Escribe la referencia  y presiona ENTER'}" options='reference' ng-model="$parent.formEdit._reference.reference"></selectize>
			  	</div>		  		
		  	</div>
			<div class="col-lg-6">
				<div class="form-group">
				    <label>Etiquetas:</label>
		  			<selectize config="{plugins: ['remove_button'], create:true, maxItems:10, placeholder:'Escribe la etiqueta  y presiona ENTER'}" options='tags' ng-model="$parent.formEdit.data.tags"></selectize>
			  	</div>				
			</div>	
	  		</form>
		</div>
		<div class="row">
			  <div class="col-lg-6 text-left">
			  	<h4 style="color:#545454 !important">Precio de Venta :</h4>	
			  </div>
			  <div class="col-lg-6 text-right" ng-init="$parent.formEdit.data.precio_venta = 0;">
			  	<h4 style="color:#545454 !important">{{$parent.formEdit.data.precio_venta | currency:"COP$ "}}</h4>
			  </div>	  	
		</div>
	</div>
    <div class="modal-footer custom-modal-footer">
        <button type="button" class="custom-btn btn-danger" ng-click="cancel()">Cancelar</button>
        <button type="button" class="custom-btn custom-btn-primary" ng-click="ok()">Actualizar</button>
    </div>
</div>
