<div ng-controller="RequestdetailCtrl" ng-init="load()">
  <div class="content" ng-show="!record || record.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="record.length == 0 && Records">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
    <div class="row">
    <div class="sub-header" style="height:60px;background-color: #00232d;box-sizing: border-box;
padding: 10px;">
        <div class="col-lg-4">
            <h2 class="no-margin text-white">Pedido # <span style="color:#f95c07;">{{record.id}}</span></h2>
            <p style="color: #c7c7c7;font-size: 12px;position: relative;top: -6px;">De : {{record._seller.full_name || 'no definido'}}</p>
        </div>
        <div class="col-lg-4">
            
        </div>
        <div class="col-lg-4 text-right">
           <button ng-click="facturar()" style="border-radius:5px;" class="custom-btn  custom-btn-primary"><i class="fa fa-credit-card"></i>&nbsp;Facturar</button>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Resumen de la Orden</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td><strong>Codigo</strong></td>
                                    <td><strong>Producto</strong></td>
                                    <td class=""><strong>Cantidad</strong></td>
                                    <td class=""><strong>Precio</strong></td>
                                    <td class=""><strong>% Iva</strong></td>
                                    <td class=""><strong>Descuento</strong></td>
                                    <td class=""><strong>V. Descuento</strong></td>
                                    <td class="text-right"><strong>Total</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="record in record.shoppingCart | itemsPerPage: 5">
                                    <td>{{record.idcomposed}}</td>
                                    <td>{{record.producto}}</td>
                                    <td>{{record.cantidad}}</td>
                                    <td>{{(record.precio + record.valor_utilidad) | currency :"$ "}}</td>
                                    <td>{{record._iva.data.valor || 0 | currency :"$ "}}</td>
                                    <td>{{record.porcentajeDTO || 0 | currency :"$ "}}</td>
                                    <td>{{record.descuento || record.pesosDTO || 0 | currency :"$ "}}</td>
                                    <td>{{record.vlUnicoD | currency :"$ "}}</td>
                                    <td class="text-right">{{record.precio_VentaFacturado || 0 | currency :"$ "}}</td>
                                </tr>
                                <tr ng-repeat="iva in record.metadata.ivadetails | orderBy:'-tipo'">
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Iva del {{iva.tipo || 0}}%</strong></td>
                                    <td class="no-line text-right">{{iva.viva || 0 | currency: "$ "}}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                        <form>
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label for="email">Subtotal:</label>
                               <p>{{record.data.subtotal ||0 | currency: "$ "}}</p>
                              </div>                            
                            </div>
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label for="email">Iva:</label>
                               <p>{{record.data.TotalIva || 0 | currency: "$ "}}</p>
                              </div>                            
                            </div>
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label for="email">Descuento:</label>
                                <p>{{record.data.descuento || 0 | currency: "$ "}}</p>
                              </div>                            
                            </div>
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label for="email">Descuento Global:</label>
                                <p>{{record.data.descuentoGlobal || 0 | currency: "$ "}}</p>
                              </div>                            
                            </div>
                            <div class="col-lg-2">
                              <div class="form-group">
                                <label for="email">Total</label>
                               <p>{{record.data.total || 0 | currency: "$ "}}</p>
                              </div>                            
                            </div>
                        </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Información de entrega</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="email">Cliente:</label>
                        <p>{{(record._client.full_name || record._client.data.razon_social || 'no definido')}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Ciudad:</label>
                        <p>{{(record._client.full_name || record._client.data.razon_social || 'no definido')}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Localización:</label>
                        <p>{{record.metadata.ciudad || 'no definido'}}, {{record.metadata.barrio}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Dirección:</label>
                        <p>{{record.metadata.direccion || 'no definido'}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Fecha de Orden:</label>
                        <p>{{record.createdAt | date:"yyyy-MM-dd hh:mm:ss a"}}</p>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>