<div ng-init="load()">
  <div class="content" ng-show="!records || records.length == 0">
    <div class="table_wrap table_height">
      <div class="row table-responsive table_inner">
          <div class="controls" ng-show="records.length == 0 && Records">
            <h4 >No hay registros para mostrar <a  ng-click="agregar()" class="custom-btn custom-btn-primary">Crear registro</a></h4>
          </div>
          <p class="text-center" ng-show="!Records">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
  </div>
	<div class="row" ng-show="records.length > 0">
    <ul class="sp-list"> 
      <li  ng-click="$root.grid.value = record;" choice="$root.grid.selected" value="record._id" class="sp-list-item sp-choice" dir-paginate="record in records |filter:search |itemsPerPage: 5 ">
        <div class="sp-item-image">
          <img ng-src="{{record.data.gallery[0].URL || 'images/missing-image.png'}}">
        </div>
        <span class="sp-meta-right">Creado : {{record.createdAt | date:'yyyy-MM-dd'}}</span>
        <a class="trash" ng-click="delete()" href=""><i class="glyphicon glyphicon-trash"></i></a>
        <h4>{{record.name +' '+ record.last_name}}</h4>
        <p>{{record.email}}</p>
        <p class="sp-text">Cel:&nbsp;{{record.metadata.phone}}&nbsp;&nbsp;</p>
        <p class="sp-text">Documento &nbsp;{{record.metadata.documento}} : {{record.metadata.numero_documento}}&nbsp;&nbsp;</p>
        <p style="position: absolute;top: 4px;right: 117px;">{{record.metadata.departamento}}, {{record.metadata.ciudad}}</p>
        <div class="row">
          <div class="sp-footer">

          </div>
        </div>
      </li>
    </ul>
		<h3 ng-hide="true">Empleados</h3>
		<div  ng-hide="true"class="panel panel-default" style="padding:0px;">
		  <div class="panel-body">
		  <div class="col-lg-12">
			  <div class="form-group pull-right">
			  	<button  class="custom-btn custom-btn-primary large-rounded" ng-click="agregar()">Agregar</button>
			  </div>
		  </div>
		  <div class="row">
				<div class="col-lg-6">
					<div class="input-group">
					      <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
					      <span class="input-group-btn">
					        <button class="btn custom-btn-primary" type="button">Buscar</button>
					      </span>
			    	</div>
				</div>	  	
		  </div>
		  <div class="table-responsive">
			 <table class="table table-hover">
				<thead>
					<th>Numero Doc.</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Email</th>
					<th>Telefono</th>
					<th>Departamento</th>
					<th>Ciudad</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr dir-paginate="record in records |filter:search |itemsPerPage: 5 ">
						<td>{{record.metadata.numero_documento }}</td>
						<td>{{record.name }}</td>
						<td>{{record.last_name || 'no definido'}}</td>
						<td>{{record.email}}</td>
						<td>{{record.metadata.phone || 'no definido'}}</td>
						<td>{{record.metadata.departamento || 'no definido'}}</td>
						<td>{{record.metadata.ciudad.toLowerCase() || 'no definido'}}</td>
						<td style="width:50px;"class="text-right"><a ui-sref="dashboard.detalle_vendedor({vendedor: record._id})" class="custom-btn-tiny custom-btn-primary" href="#/detalle-vendedor/{{record._id}}">Detalle</a></td>
						<td style="width:50px;"class="text-right"><a class="custom-btn-tiny btn-primary" ng-click="edit()"><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a></td>
						<td style="width:50px;"class="text-right"><a ng-click="borrar()" class="custom-btn-tiny btn-danger"><i class="glyphicon glyphicon-trash">&nbsp;Borrar</i></a></td>
					</tr>
				</tbody>
			</table>		  	
		  </div>
			<div class="row">
				<div class="col-lg-12">
					<dir-pagination-controls class="pull-right"></dir-pagination-controls>
				</div>
			</div>
		  </div>
		  <div class="panel-footer">Listado de Vendores</div>
		</div>

	</div>
</div>
