<div class="inmodal" ng-controller="FacturacionCtrl" ng-init="load()">
    <div class="modal-header text-center custom-modal-header">
        <!--<i class="fa fa-sliders color-success h-modal-icon"></i>-->
        <h4 class="modal-title">Nueva Factura</h4>
    </div>
  	<div class="modal-body">
    	<div>
  	  	<form name="formFacturacion" novalidate>
          <div class="row">
        
          </div>
  	  	</form>
    	</div>
  	</div>
    <div class="modal-footer custom-modal-footer">
        <button type="button" class="custom-btn btn-danger" ng-click="cancel()">Cancelar</button>
        <button type="button" class="custom-btn custom-btn-primary" ng-click="ok()">Facturar</button>
    </div>
</div>
