<div ng-init="load()">
<div class="content" ng-show="records.length == 0">
    <div ng-class="records.length == 0 ? 'table_wrap table_height' : ''">
      <div ng-class="records.length == 0 ? 'row table-responsive table_inner' : 'row'">
          <div class="controls" ng-show="records.length == 0 && MainRecords">
            <h4 >No hay registros para mostrar</h4>
          </div>
          <p class="text-center" ng-show="!MainRecords">
           <img style="width:50px;" src="images/loading.svg">
          </p>
      </div>
    </div>  
</div>
